
<h1>Dodaj recepte</h1>


<mat-form-field appearance="fill">
    <mat-label>Wybierz lekarza</mat-label>
    <mat-select  [(ngModel)]="modele.lekarz">
      <mat-option *ngFor="let lekarze of all" value="{{lekarze.id_lekarza}}">{{lekarze.imie_lekarza}} {{lekarze.naz_lekarza}}</mat-option>
    </mat-select>
</mat-form-field>

<mat-form-field appearance="fill">
    <mat-label>Wybierz pacjenta</mat-label>
    <mat-select  [(ngModel)]="modele.pacjent">
      <mat-option *ngFor="let pacjenci of all_pacjent" value="{{pacjenci.id_pacjenta}}">{{pacjenci.imie_pacjenta}} {{pacjenci.nazw_pacjenta}}</mat-option>
    </mat-select>
</mat-form-field>


<mat-form-field appearance="fill">
    <mat-label>Wybierz lek</mat-label>
    <mat-select  [(ngModel)]="modele.lek">
      <mat-option *ngFor="let leki of all_leki" value="{{leki.id_lekow}}">{{leki.nazwa_leku}}</mat-option>
    </mat-select>
</mat-form-field>


<button mat-raised-button color="primary" (click)="daj()">Wyślij</button>