<p>dziala jak cos</p>


<form #userForm="ngForm">

    <pre>{{modele | json}}</pre>

    <div class="form-group">
        <label>Imie</label>
        <input type="text" name="imie" class="form-control" [(ngModel)]="modele.imie">
    </div>
    <div class="form-group">
        <label>Nazwisko</label>
        <input type="text" name="nazwisko" class="form-control" [(ngModel)]="modele.nazwisko">
    </div>
    <div class="form-group">
        <label>Wiek</label>
        <input type="text" name="wiek" class="form-control" [(ngModel)]="modele.wiek">
    </div>
    <button (click)="daj()">Wyślij</button>
</form>