<p>
  <mat-toolbar color="primary">
    <span style="margin-right: 550px;" routerLink="/">Klinika</span>
    <span class="links" routerLink="/lekarz-component">Lekarze</span>
    <span class="links" routerLink="/pacjenci-component" >Pacjenci</span>
    <span class="links" routerLink="/leki-component" >Leki</span>
    <span class="links" routerLink="/recepty-component">Recepty</span>
    <span class="links" routerLink="/add_recepty-component">Dodaj recepte</span>

  </mat-toolbar>
</p>

<h1 style="text-align: center;">Witaj na stronie kliniki kreta</h1>

<router-outlet></router-outlet>
