<input
type="text"
placeholder="Szukaj leków"
class="form-control bg-dark text-light border-0 my-4 text-center"
autofocus
(keyup)="szukaj()"
[(ngModel)]="szuakny_text"
/>

<table class="table table-dark">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nazwa</th>
            <th>Refuncacja</th>
        </tr>
      
    </thead>
    <tbody>
        <tr *ngFor="let leki of filter;let i = index"> 
            <td>
              {{ i + 1}}
            </td>
            <td>
                {{ leki.nazwa_leku}}
              </td>
              <td>
                {{ leki.refuncacja}}
              </td>
  
          </tr>
    </tbody>
</table>